<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net47" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.ServiceFabric" version="5.7.198" targetFramework="net47" />
  <package id="Microsoft.ServiceFabric.Data" version="2.7.198" targetFramework="net47" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.7.198" targetFramework="net47" />
  <package id="Microsoft.ServiceFabric.Services" version="2.7.198" targetFramework="net47" />
  <package id="Nancy" version="1.4.1" targetFramework="net47" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.4.1" targetFramework="net47" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
</packages>